* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL DISPLAY */
/* body {
    padding: 1rem 0;
} */

main {
    display: flex;
    justify-content: center;
}

/* BOARD */

.board {
    min-width: 100vh;
    max-width: 100vh;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-template-rows: repeat(13, minmax(0, 1fr));
}

ul li {
    list-style: inside none;
}

/* SQUARES' POSITIONS */

#square-0 {
    grid-area: 12 / 12 / 14 / 14;
}

#square-0 img {
    transform: rotate(180deg);
}

#square-1 {
    grid-area: 12 / 11 / 14 / 12;
}

#square-2 {
    grid-area: 12 / 10 / 14 / 11;
}

#square-3 {
    grid-area: 12 / 9 / 14 / 10;
}

#square-4 {
    grid-area: 12 / 8 / 14 / 9;
}

#square-5 {
    grid-area: 12 / 7 / 14 / 8;
}

#square-6 {
    grid-area: 12 / 6 / 14 / 7;
}

#square-7 {
    grid-area: 12 / 5 / 14 / 6;
}

#square-8 {
    grid-area: 12 / 4 / 14 / 5;
}

#square-9 {
    grid-area: 12 / 3 / 14 / 4;
}

#square-10 {
    grid-area: 12 / 1 / 14 / 3;
    position: relative;
}

.in-jail-container {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
}

.square-10-just-visting {
    grid-area: 1 / 1 / 4 / 2;
    background-color: gray;
}

#square-11 {
    grid-area: 11 / 1 / 12 / 3;
}

#square-12 {
    grid-area: 10 / 1 / 11 / 3;
}

#square-13 {
    grid-area: 9 / 1 / 10 / 3;
}

#square-14 {
    grid-area: 8 / 1 / 9 / 3;
}

#square-15 {
    grid-area: 7 / 1 / 8 / 3;
}

#square-16 {
    grid-area: 6 / 1 / 7 / 3;
}

#square-17 {
    grid-area: 5 / 1 / 6 / 3;
}

#square-18 {
    grid-area: 4 / 1 / 5 / 3;
}

#square-19 {
    grid-area: 3 / 1 / 4 / 3;
}

#square-20 {
    grid-area: 1 / 1 / 3 / 3;
}

#square-21 {
    grid-area: 1 / 3 / 3 / 4;
}

#square-22 {
    grid-area: 1 / 4 / 3 / 5;
}

#square-23 {
    grid-area: 1 / 5 / 3 / 6;
}

#square-24 {
    grid-area: 1 / 6 / 3 / 7;
}

#square-25 {
    grid-area: 1 / 7 / 3 / 8;
}

#square-26 {
    grid-area: 1 / 8 / 3 / 9;
}

#square-27 {
    grid-area: 1 / 9 / 3 / 10;
}

#square-28 {
    grid-area: 1 / 10 / 3 / 11;
}

#square-29 {
    grid-area: 1 / 11 / 3 / 12;
}

#square-30 {
    grid-area: 1 / 12 / 3 / 14;
}

#square-31 {
    grid-area: 3 / 12 / 4 / 14;
}

#square-32 {
    grid-area: 4 / 12 / 5 / 14;
}

#square-33 {
    grid-area: 5 / 12 / 6 / 14;
}

#square-34 {
    grid-area: 6 / 12 / 7 / 14;
}

#square-35 {
    grid-area: 7 / 12 / 8 / 14;
}

#square-36 {
    grid-area: 8 / 12 / 9 / 14;
}

#square-37 {
    grid-area: 9 / 12 / 10 / 14;
}

#square-38 {
    grid-area: 10 / 12 / 11 / 14;
}

#square-39 {
    grid-area: 11 / 12 / 12 / 14;
}

/* SQUARES' STYLES*/
.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: solid 2px black;
    overflow: hidden;
    word-break: break-all;
}

.square-bottom {
    border-top: solid 4px black;
}

/* .square-left {} */

.square-top {
    border-bottom: solid 4px black;
}

.square-right {
    border-left: solid 4px black;
}

/* .square-corner {} */

.square-left,
.square-right {
    border-right: solid 4px black;
    flex-direction: row;
}

.square-bottom .square-color,
.square-top .square-color {
    width: 100%;
    height: 30px;
}

.square-left .square-color,
.square-right .square-color {
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.color-brown {
    background-color: brown;
}

.color-lightblue {
    background-color: lightblue;
}

.color-red {
    background-color: red;
}

.color-yellow {
    background-color: yellow;
}

.color-fuchsia {
    background-color: fuchsia;
}

.color-orange {
    background-color: orange;
}

.color-green {
    background-color: green;
}

.color-blue {
    background-color: blue;
}

.square-title {
    font-size: .5rem;
    margin: 0 .5rem;
}

.special-square-icon {
    width: 50px;
    height: 50px;
}

/* .square-special {
    padding: 1rem .5rem;
} */



/* CONSOLE */
#control-panel {
    grid-area: 4 / 5 / 7 / 10;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

#console-display {
    border: solid 1px black;
    grid-area: 1 / 1 / 3 / 6;
    overflow-y: scroll;
}

#console-display p {
    margin-bottom: 1rem;
}

#control_buttons {
    grid-area: 3 / 1 / 4 / 6;
    display: flex;
    align-items: center;
}

.button {
    min-width: 25%;
    text-align: center;
    border: solid 1px black;
    border-radius: 8px;
}

/* FORM PLAYER SETUP */
#form_player_setup {
    width: 100vh;
    height: 100vh;
    padding: 3rem;
    text-align: center;
    position: absolute;
    background-color: white;
    z-index: 1;
}

#form_player_setup h1 {
    margin-bottom: 4rem;
}

input[type="radio"] {
    margin-bottom: 1rem;
}

#form_player_info {
    margin-top: 5rem;
}


#form_player_info input {
    margin-bottom: 1rem;
}

#form_player_info {
    display: none;
}

/* PLAYER CONTAINER */

#player-container-1,
#player-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: lightblue;
}

#player-container-1>div,
#player-container-2>div {
    height: 50%;
    padding: 2rem;
    border: 1px solid black;
}

.player-name {
    font-size: 3rem;
    text-align: center;
}

.player-wallet {
    font-size: 2rem;
    text-align: center;
}

.player-list-of-properties {
    font-size: 1.5rem;
    text-align: center;
}

/* TOKENS */
.token-holder {
    display: flex;
    justify-content: space-around;
}

.square-bottom .token-holder,
.square-top .token-holder {
    width: 100%;
    height: 25px;
}

.square-left .token-holder,
.square-right .token-holder {
    flex-direction: column;
    min-width: 20px;
    height: 100%;
}

.token {
    width: 20px;
    height: 20px;
    background-image: url(../media/token-icon.svg);
    background-size: cover;
}

/* DICES */

#dice_1 {
    grid-area: 9 / 5 / 10 / 6;
    width: 90%;
    height: 90%;
}

#dice_2 {
    grid-area: 9 / 6 / 10 / 7;
    width: 90%;
    height: 90%;
}

#extra-turn-container {
    grid-area: 10 / 5 / 11 / 7;
}

/* GAMEPLAY STYLES */

.token-color-player-red {
    filter: invert(33%) sepia(77%) saturate(6162%) hue-rotate(339deg) brightness(102%) contrast(101%);
}

.token-color-player-blue {
    filter: invert(68%) sepia(43%) saturate(4101%) hue-rotate(177deg) brightness(100%) contrast(102%);
}

.token-color-player-orange {
    filter: invert(80%) sepia(43%) saturate(1972%) hue-rotate(333deg) brightness(107%) contrast(102%);
}

.token-color-player-skin {
    filter: invert(90%) sepia(3%) saturate(2867%) hue-rotate(322deg) brightness(103%) contrast(113%);
}

#square-0 .token-holder span {
    display: block;
}

.property-of-player-red {
    border-color: #FF1E3B;
    color: #FF1E3B;
}

.property-of-player-blue {
    border-color: #34B0FF;
    color: #34B0FF;
}

.property-of-player-orange {
    border-color: #FFBA11;
    color: #FFBA11;
}

.player-skin-turn {
    color: #FFEDDA;
}

.player-red-turn {
    color: #FF1E3B;
}

.player-blue-turn {
    color: #34B0FF;
}

.player-orange-turn {
    color: #FFBA11;
}

.property-of-player-skin {
    border-color: #FFEDDA;
    color: #FFEDDA;
}

.token-in-jail {
    position: relative;
    z-index: 5;
    bottom: 3rem;
    left: 2rem;
}

/* DEED CARD CONTAINER */
#title-deed-container {
    grid-area: 7 / 8 / 11 / 11;
    border: solid 1px black;
}

.title-deed {
    /* CHANGE TO FLEX */
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.title-deed-flex {
    display: flex;
}

.title-deed__info>div {
    margin: .4rem 0;
}

.title-deed__header {
    font-weight: bold;
    border: solid 1px black;
    padding: 1rem 0;
}

.title-deed__houses-prices {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.title-deed__bottom-line {
    font-size: .5rem;
}

.title-deed-options {
    display: flex;
}

.title-deed-options li {
    background-color: pink;
    margin: .3rem;
}

.title-deed-img {
    width: 40%;
    margin: 0 auto;
}

.house-icon {
    width: 25%;
}

.hotel-icon {
    height: 100%;
}

.square-right .hotel-icon,
.square-left .hotel-icon {
    width: 100%;
}

.square-right .house-icon,
.square-left .house-icon {
    height: 25%;
    width: 100%;
}

.title-deed__utility-descripton:first-child {
    margin-bottom: 1rem;
}

.free-parking-img {
    width: 50%;
}

.mortage-sign {
    color: black;
    font-weight: bold;
    margin: auto;
}


@keyframes rollDices {
    from {}

    to {
        transform: rotate(1440deg);
    }
}

/* The element to apply the animation to */
.animation-roll-dices {
    animation-name: rollDices;
    animation-duration: 5s;
}

#button_clear_local_storage {
    grid-area: 11 / 4 / 12 / 6;
    background-color: aqua;
}
.sell-property-container {
    position: absolute; 
    min-width: 100%;
    min-height: 100%; 
    background-color: white;
}
.sell-property-popup {
    border: solid 1px black;
    padding: 2rem;
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    background-color: white;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.sell-property-title {
    font-size: 2rem;
}